node-red/fluxos.json
[
  {
    "id": "tab_coldchain",
    "type": "tab",
    "label": "Cold Chain Monitoring",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "mqtt_temp_in",
    "type": "mqtt in",
    "z": "tab_coldchain",
    "name": "Temperatura",
    "topic": "refrigeracao/+/temperatura",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "json_parse",
        "debug_temp"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_coldchain",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 360,
    "y": 120,
    "wires": [
      [
        "check_temp"
      ]
    ]
  },
  {
    "id": "check_temp",
    "type": "function",
    "z": "tab_coldchain",
    "name": "Verificar Temperatura Crítica",
    "func": "const data = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\nconst limite = 8;\nconst valor = data.valor;\n\nif (valor > limite) {\n    msg.payload = {\n        equipamento: msg.topic.split('/')[1],\n        valor: valor,\n        limite: limite,\n        timestamp: data.timestamp || new Date().toISOString()\n    };\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 600,
    "y": 120,
    "wires": [
      [
        "whatsapp_build"
      ]
    ]
  },
  {
    "id": "whatsapp_build",
    "type": "function",
    "z": "tab_coldchain",
    "name": "Montar WhatsApp Msg",
    "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer SEU_ACCESS_TOKEN\"\n};\n\nmsg.payload = {\n    messaging_product: \"whatsapp\",\n    to: \"5511999999999\",\n    type: \"text\",\n    text: {\n        body:\n`🚨 ALERTA DE TEMPERATURA CRÍTICA\\n\\n` +\n`Equipamento: ${msg.payload.equipamento}\\n` +\n`Temperatura: ${msg.payload.valor}°C\\n` +\n`Limite: ${msg.payload.limite}°C\\n\\n` +\n`Ação imediata necessária!`\n    }\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 840,
    "y": 120,
    "wires": [
      [
        "whatsapp_http"
      ]
    ]
  },
  {
    "id": "whatsapp_http",
    "type": "http request",
    "z": "tab_coldchain",
    "name": "Enviar WhatsApp",
    "method": "POST",
    "ret": "obj",
    "url": "https://graph.facebook.com/v19.0/SEU_PHONE_NUMBER_ID/messages",
    "x": 1080,
    "y": 120,
    "wires": [
      [
        "debug_whatsapp"
      ]
    ]
  },
  {
    "id": "debug_temp",
    "type": "debug",
    "z": "tab_coldchain",
    "name": "Debug Temperatura",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 380,
    "y": 60,
    "wires": []
  },
  {
    "id": "debug_whatsapp",
    "type": "debug",
    "z": "tab_coldchain",
    "name": "WhatsApp Enviado",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 1080,
    "y": 180,
    "wires": []
  }
]
